In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

In [3]:
dic = {'id:': [1,2,3,4,5]}

In [4]:
dic

{'id:': [1, 2, 3, 4, 5]}

In [5]:
df = pd.DataFrame(dic)

In [6]:
df

   id:
0    1
1    2
2    3
3    4
4    5

In [7]:
df[:2]

   id:
0    1
1    2

In [9]:
df.shape

(5, 1)

In [11]:
df = pd.read_csv('Data/chipotle.csv')

In [13]:
df.head()

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [15]:
type(df.quantity)

pandas.core.series.Series

In [16]:
for x in df:
    print(x)

Unnamed: 0
order_id
quantity
item_name
choice_description
item_price

In [18]:
df.columns

Index(['Unnamed: 0', 'order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [20]:
df.describe()

        Unnamed: 0     order_id     quantity
count  4622.000000  4622.000000  4622.000000
mean   2310.500000   927.254868     1.075725
std    1334.400802   528.890796     0.410186
min       0.000000     1.000000     1.000000
25%    1155.250000   477.250000     1.000000
50%    2310.500000   926.000000     1.000000
75%    3465.750000  1393.000000     1.000000
max    4621.000000  1834.000000    15.000000

In [21]:
new_df = df[df['quantity']>1]

In [22]:
new_df

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
18,18,9,2,Canned Soda,[Sprite],$2.18
51,51,23,2,Canned Soda,[Mountain Dew],$2.18
135,135,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",$22.50
148,148,67,2,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Chees...",$17.98
150,150,68,2,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$17.50
154,154,70,2,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$17.50
162,162,73,2,Canned Soda,[Diet Coke],$2.18
171,171,76,2,Canned Soda,[Diet Dr. Pepper],$2.18
213,213,94,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$22.50
217,217,96,2,Chicken Crispy Tacos,"[Tomatillo Red Chili Salsa, [Cheese, Sour Crea...",$17.50
223,223,98,2,Chips,NaN,$4.30
235,235,103,2,Chips and Tomatillo Green Chili Salsa,NaN,$5.90
241,241,105,2,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$17.50
281,281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",$23.78
282,282,124,2,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$17.50
315,315,137,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, Fajita Vegetables]",$17.50
350,350,150,2,Canned Soda,[Diet Coke],$2.18
352,352,151,2,Canned Soda,[Coca Cola],$2.18
353,353,152,2,Steak Burrito,"[Fresh Tomato (Mild), [Lettuce, Guacamole, Ric...",$22.16
354,354,153,2,Chicken Soft Tacos,"[Fresh Tomato Salsa, Sour Cream]",$17.50
409,409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
415,415,181,2,Chicken Bowl,[Tomatillo Red Chili Salsa],$17.50
426,426,185,2,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Sour Cream, Lettuce]]",$17.50
445,445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
492,492,206,2,Canned Soft Drink,[Diet Coke],$2.50
506,506,212,2,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$23.50
534,534,223,2,Steak Burrito,"[Fresh Tomato Salsa, [Sour Cream, Lettuce, Che...",$18.50
540,540,225,2,Bottled Water,NaN,$3.00
549,549,229,2,Steak Burrito,"[Fresh Tomato (Mild), [Lettuce, Guacamole, Ric...",$22.16
...,...,...,...,...,...,...
3976,3976,1593,2,Chicken Bowl,"[[Roasted Chili Corn Salsa (Medium), Fresh Tom...",$16.98
4016,4016,1608,2,Canned Soft Drink,[Diet Coke],$2.50
4027,4027,1611,2,Canned Soft Drink,[Coke],$2.50
4082,4082,1634,2,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",$18.50
4093,4093,1640,2,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$17.50
4098,4098,1642,3,Canned Soft Drink,[Diet Coke],$3.75
4126,4126,1652,2,Chips,NaN,$4.30
4137,4137,1655,3,Bottled Water,NaN,$4.50
4148,4148,1660,2,Chicken Burrito,"[Fresh Tomato Salsa, Rice]",$17.50
4152,4152,1660,10,Bottled Water,NaN,$15.00
4186,4186,1671,3,Bottled Water,NaN,$4.50
4232,4232,1690,2,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",$18.50
4237,4237,1691,2,Chips and Guacamole,NaN,$8.50
4307,4307,1718,2,Steak Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",$23.50
4310,4310,1719,2,Steak Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$18.50
4312,4312,1719,2,Chips and Tomatillo Red Chili Salsa,NaN,$5.90
4332,4332,1729,2,Chips and Guacamole,NaN,$8.90
4354,4354,1738,2,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",$18.50
4389,4389,1751,2,Chips,NaN,$4.30
4417,4417,1761,2,Chips,NaN,$4.30
4423,4423,1764,2,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",$22.50
4427,4427,1764,2,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Sour ...",$23.50
4435,4435,1767,2,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",$17.50
4489,4489,1786,4,Chips and Guacamole,NaN,$17.80
4490,4490,1786,4,Canned Soft Drink,[Coke],$5.00
4491,4491,1786,4,Canned Soft Drink,[Sprite],$5.00
4499,4499,1789,2,Canned Soft Drink,[Coke],$2.50
4560,4560,1812,2,Canned Soft Drink,[Coke],$2.50
4561,4561,1813,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$17.50
4582,4582,1822,2,Bottled Water,NaN,$3.00